---
export const prerender = true;

import FrameCustomiser from "../components/FrameCustomiser.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Discord User Widget</title>
        <meta
            name="description"
            content="A tool to embed Discord user widgets on your site"
        />
    </head>
    <body>
        <div class="card">
            Discord made a change to their API that broke widgets.
            <br />
            They already reverted this change, but it will take some time for the
            revert to deploy.
            <br />
            If your widget is broken for now, please just wait patiently!
            <br />
            See <a href="https://github.com/Vendicated/DiscordWidgets/issues/16"
                >Vendicated/DiscordWidgets#16</a
            > for more info.
        </div>

        <h1>Discord User Widget</h1>
        <FrameCustomiser client:load />

        <h3>Source Code</h3>
        <a href="https://github.com/Vendicated/DiscordWidgets">GitHub Repo</a>
    </body>
</html>

<style>
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;

        background: lightsalmon;
        margin: 2em;

        font-size: large;
    }

    h3 {
        margin: 0;
        margin-bottom: 0.2em;
    }

    .card {
        border: 2px solid black;
        border-radius: 16px;
        background: #f2f28d;
        display: inline-block;
        padding: 16px 20px;
    }
</style>
